@font-face {
    font-family: 'HARABARA';
    src: url('../font/HARABARA.TTF') format('truetype');
}

section {
    padding: 15px 0;
}

section#header {
    padding: 0px 0 0px 0;
}

section#search {
    padding: 0;
}

section#footer .nav-link {
    color: white !important;
}

section#footer .nav-link:hover {
    color: white !important;
}

.titulo-link {
    color: black !important;
}

.titulo-link:hover {
    color: grey !important;
}

.search {
    padding: 5 10;
    background: rgb(255, 203, 4);
    background: linear-gradient(90deg, rgba(255, 203, 4, 1) 0%, rgba(255, 227, 120, 1) 50%, rgba(255, 203, 4, 1) 100%);
}

section#search input {
    background-color: #ffffff;
    border: 1px solid #c49d14;
}

section#search input::placeholder {
    color: #c5c5c5;
    font-weight: bold;
}

section#search input:focus {
    color: #7a7a7a;
    box-shadow: 0 0 0 .2rem #c49d14
}

.v-divider {
    height: 60%;
    border-left: 1px solid #f8f9fa;
    margin: 0 2px;
}


/* Imagens dos posts responsivas */

.container.mb-4 img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
    max-width: 100%;
    height: auto;
}


/* cores do facebook e do insta
section#header a i.fab.fa-facebook{
    height: 150%;
    margin: 5;
    background: radial-gradient(circle, rgba(0,179,255,1) 0%, rgba(0,106,254,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#header a i.fab.fa-instagram{
    margin: 5;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

section#header a i.fab.fa-facebook,
section#header a i.fab.fa-instagram {
    margin: 5;
    color: white;
}

section#header a i.fab.fa-facebook:hover,
section#header a i.fab.fa-instagram:hover {
    margin: 5;
    color: gray;
}

.btn-outline-light-ascorsan {
    margin: 0 10;
    border-radius: 0;
    color: #f8f9fa !important;
    background-color: transparent;
    background-image: none;
    border-bottom: 2px solid #f8f9fa;
}

.btn-outline-light-ascorsan:hover {
    color: #b6b6b6 !important;
    border-bottom: 3px solid #b6b6b6;
}

.btn-outline-light-ascorsan.focus,
.btn-outline-light-ascorsan:focus {
    box-shadow: 0 0 0 .2rem #b6b6b6
}

.btn-ascorsan-search {
    color: White;
    background-color: #c49d14;
}

.btn-ascorsan-search:hover {
    color: White;
    background-color: #665411;
}

.btn-ascorsan-search:active {
    color: White;
    background-color: #dac681;
    box-shadow: 0 0 0 .2rem #c49d14
}

.btn-ascorsan-search:focus {
    box-shadow: 0 0 0 .2rem #c49d14
}

.bg-primary {
    background-color: #24647c!important
}

a.nav-link.dropdown-toggle {
    color: rgb(255, 255, 255) !important;
}

a.nav-link.dropdown-toggle:hover {
    color: #909090 !important;
}

a.nav-link {
    color: rgb(255, 255, 255) !important;
}

a.nav-link:hover {
    color: #909090 !important;
}

div.header {
    background: rgb(28, 170, 185);
    background: radial-gradient(circle, rgba(28, 170, 185, 1) 0%, rgba(10, 123, 143, 1) 81%, rgba(0, 99, 121, 1) 100%);
}

div i {
    margin: 2px;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    background: rgb(51, 148, 217);
    background: linear-gradient(90deg, rgba(51, 148, 217, 1) 0%, rgba(27, 179, 235, 1) 50%, rgba(51, 148, 217, 1) 100%);
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.pagination {
    clear: both;
    position: relative;
    font-size: 11px;
    /* Pagination text size */
    line-height: 13px;
    float: right;
    /* Pagination float direction */
}

.pagination span,
.pagination a {
    display: block;
    float: left;
    margin: 2px 2px 2px 0;
    padding: 6px 9px 5px 9px;
    text-decoration: none;
    width: auto;
    color: #fff;
    /* Pagination text color */
    background: #555;
    /* Pagination non-active background color */
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    -ms-transition: background .15s ease-in-out;
    -o-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.pagination a:hover {
    color: #fff;
    background: rgba(51, 148, 217, 1);
    /* Pagination background on hover */
}

.pagination .current {
    padding: 6px 9px 5px 9px;
    background: rgba(51, 148, 217, 1);
    /* Current page background */
    color: #fff;
}

.container2 {
    background: #FFFFFF;
    width: 900px;
    height: 650px;
    margin: 5% auto;
    position: relative;
}

.map {
    width: 100%;
    float: left;
}

.contact-form {
    width: 53%;
    margin-left: 2%;
    float: left;
}

.contact-form .title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
    margin: 5% 8%;
}

.contact-form .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
}

.contact-form input,
.contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #242424;
}

.contact-form .btn-send {
    background: #1cb1ea;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}

.swiper-container {
    width: auto;
    /* padding: 0 25px !important; */
    height: 400px;
}

.convenio-area {
    width: auto;
    padding: 25px 0 !important;
    background-color: #fff;
    font-family: "HARABARA";
}

.beneficio-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px 10px;
    margin: 15px 0;
    padding: 0;
}

.beneficio-list li {
    /* text-align: center; */
    text-align: start;
}

.beneficio-list li a.nav-link::before {
    content: "\f09d";
    /* FontAwesome Unicode */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 5px;
    /* same as padding-left set on li */
    width: 1.3em;
    /* same as padding-left set on li */
}

.beneficio-list li a.nav-link {
    padding: 0;
    color: #000 !important;
    font-weight: bold;
    font-size: 20px;
}

.beneficio-list li a.nav-link:hover {
    color: #AAA !important;
}

.beneficio-list li:focus {
    box-shadow: 0 0 0 .2rem #035ab8
}

ul.convenio-area-contato li i {
    margin-right: 10px;
}

.lista-beneficio-associado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.img-convenio {
    border-radius: 50%;
    border: 3px solid #006c8a;
}

.linha-convenios {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.linha-convenios-2 {
    margin: 0px 25px;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.image-grid-cover {
    background-size: cover;
    height: 140px;
    width: 140px;
    position: relative;
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    border-radius: 4px;
}

.cover-wrapper {
    font-size: 18px;
    text-align: center;
    display: block;
    color: rgb(252, 252, 252);
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    z-index: 21;
    position: relative;
    top: 110px;
    right: 15px;
}

.cover-wrapper:hover {
    color: rgb(148, 147, 147);
    text-shadow: rgba(0, 0, 0, .8) 0 1px 0;
    text-decoration: none;
}

.row-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.swiper-img {
    height: 100%;
    width: 100%;
}

.video-black {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

#video-content p {
    margin-bottom: 0;
}

#video-content p iframe {
    width: 100%;
    height: 480px;
}

.overlay {
    position: relative;
}

.overlay .text-block {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #FFFFFFcc;
    font-size: 100px;
    z-index: 10;
    top: 25px;
}

.overlay .text-block:hover {
    color: rgba(179, 179, 179, 0.8);
}

.list-unstyled.quick-links .nav-link {
    padding: 0;
    margin: 0 10px;
}

.galeria-size {
    font-size: 16px;
}

.horario-atendimento {
    display: flex;
    background-color: #006c8a;
    border-radius: 30px;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.divisor-convenio {
    text-align: center;
    background-color: white;
    height: 3px;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0;
    padding: 0 25px;
}

.link-convenio-telefones {
    color: #FFF;
    font-weight: bold;
    font-size: 26px;
}

.link-convenio {
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
}

.link-convenio-email {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
}

.link-convenio:hover {
    color: #AAA;
}

.telefones-beneficios {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 5px;
    /* justify-items: center; */
    align-items: center;
}

.espaco {
    width: 100%;
    height: 40px;
}