#wphead {
    background-color: blue;
    color: white;
}

#adminmenu ul {
    background-color: blue;
    color: white;
}

#adminmenu2 ul {
    background-color: blue;
    color: white;
}

.wrap #footer .wrap h2